@charset "utf-8";

.study_center_body
{
    .breadcrumb{
        height: 20px;
        line-height: 20px;
        color: #bbbbbb;
        margin-bottom: 20px;
        li{
            float:left;
            span{
                padding: 0 2px;
            }
            a{
                color: #ccc;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .study_center_silder{
        background: #fff;
        width: 210px;
        float: left;
        margin-right: 15px;
        .student_info{
            height: 85px;
            
            font-size: 0;
            img{
                margin: 0 20px;
                height: 50px;
                width: 50px;
                vertical-align: middle;
                display: inline-block;
            }
            span{
                line-height: 85px;
                font-size: 12px;
                display: inline-block;
            }
        }
        li{
            border-top: 1px solid #ccc;
            height: 48px;
            line-height: 48px;
            a{
                display: block;
                padding-left: 20px;
                &:hover{
                    color: #0DBD0D;
                    background: #F5F5F5;
                    span{
                        color: #0DBD0D;
                    }
                }
                
            }
            span{
                font-size: 14px;
                padding: 0 10px ;
                font-family: iconfont;
                color: #BBBBBB;
            }
        }
    }
    .study_center_content{
        float: left;
        width: 775px;
        .study_tab_nav{
            background: #fff;
            height: 38px;
            ul{
                font-size: 0;
            }
            li{
                font-size: 14px;
                display: inline-block;
                line-height: 36px;
                padding: 0 15px;
                &.acitve{
                    border-bottom: 2px solid #0DBD0D;
                }
            }
        }
    }
    .study_center_container{
        .study_center_course_list{
            margin-right: -5px;
        }
        .study_center_course_list_item{
            width: 250px;
            float: left;
            margin-right: 10px;
            margin-bottom: 15px;
            position: relative;
            height: 223px;
            
        }
        .study_center_course_list_item_content{
            width: 246px;
            margin: 2px auto 0; 
            height: 223px;
            position:absolute;
            background: #fff;
            transition: height 0.4s;
            img{
              width: 246px;
            }
            .img{
                position: relative;
                display: inline-block;
                span{
                    position: absolute;
                    top: -4px;
                    right: 10px;
                    padding: 4px 8px;
                    background: #35B558;
                    color: #fff;
                    display: none;
                    z-index:10012; 
                    &.active{
                        display: block;
                    }
                }
                .player{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin:-20px 0 0 -20px;
                    height: 40px;
                    width: 40px;
                    opacity: 0;
                    transform: scale(1);
                    transition: opacity .4s,transform .4s;
                    z-index:10011 ;
                }
                .schedule{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    padding: 2px 4px;
                    z-index: 10009;
                    background: #999999;
                    color: #fff;
                }
                .mark{
                    position: absolute;
                    display: block;
                    opacity: 0;
                    transition: opacity .4s;
                    z-index:10010 ;
                }
            }
            .content{
                padding: 10px;
                line-height: 18px;
                color: #808080;
                .title{
                    height: 40px;
                    display: block;
                    color: #333333;
                    font-size: 14px;
                }
                p{
                    height: 0px;
                    overflow: hidden;
                    transition: height 0.4s;
                }
                i{
                    font-family: iconfont;
                }
                span{
                    display: inline-block;
                    margin: 5px 0;
                    width: 50%;
                }
                .icons{
                    display: inline-block;
                    float: right;
                    margin: 5px 0;
                }
                .study_num{
                    float: right;
                    text-align: right;
                    display: none;
                }
                .study_hight{
                    display: none;
                }
            }
            &:hover{
                height: 308px;
                border: 1px solid #0DBD0D;
                border-top: 0;
                .study_num,.study_hight{
                    display: inline-block;
                }
                p{
                    height: 54px;
                }
                .player{
                    opacity: 1;
                    transform: scale(1.4);
                }
                .mark{
                    opacity: 1;
                }
            }
        }
        .page_nav{
            height: 32px;
            line-height: 32px;
            font-size: 0;
            text-align: center;
            margin: 30px  0 50px;
            li{
                &:first-child,&:last-child{
                    padding: 0 20px;
                }
                &.un_active{
                    cursor:auto;
                    color: #DDDDDD;
                    &:hover{
                       background: #fff; 
                       color: #DDDDDD;
                    }
                }
                &:hover,&.active{
                    background: #35B558;
                    color: #fff;
                }
                cursor: pointer;
                font-size:12px;
                display: inline-block;
                background: #fff;
                padding: 0 12px;
                margin-right: 10px;
            }
        }
    }
}
