@charset "utf-8";
.set_user_info_slider {
    width: 208px;
    border: 1px solid #ccc;
    line-height: 50px;
    background: #fff;
    float: left;
    margin-right: 30px;
    ul {
        margin-bottom: -1px;
    }
    li {
        padding-left: 20px;
        font-size: 14px;
        border-bottom: 1px solid #ccc;
        a {
            color: #555;
            &.active {
                color: #0DBD0D;
            }
        }
        .label {
            margin-left: 20px;
            border-radius: 15px;
            font-size: 10px;
            padding: 0 5px;
            background: #9F9F9F;
            color: #fff;
        }
    }
}
.set_user_info_content {
    background: #fff;
    border: 1px solid #ccc;
    width: 758px;
    float: left;
    .user_title {
        height: 50px;
        border-bottom: 1px solid #ccc;
        line-height: 50px;
        font-size: 16px;
        padding-left: 20px;
        color: #555;
    }
    h3 {
        border-left: 2px solid #0DBD0D;
        margin: 30px 0;
        padding-left: 20px;
        font-size: 14px;
    }
    .btn {
        background: #fff;
        color: #35B558;
        &.active {
            color: #fff;
            background: #35B558;
        }
        width: 50px;
        font-size: 14px;
        line-height: 30px;
        font-family: "microsoft yahei";
        display: inline-block;
    }
    .essential_info {
        border-bottom: 1px solid #ccc;
        .basic_form {
            text-align: center;
            li {
                height: 30px;
                line-height: 30px;
                color: #555555;
                position: relative;
                margin-bottom: 20px;
                &:first-child {
                    height: 70px;
                    line-height: 70px;
                    overflow: hidden;
                }
                &:last-child {
                    height: 80px;
                    line-height: 20px;
                }
                label {
                    width: 100px;
                    text-align: right;
                    display: block;
                    float: left;
                }
                .input_box {
                    margin-left: 20px;
                    float: left;
                    .user_picture {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: inline-block;
                        margin-top: 10px;
                        line-height: 50px;
                        text-align: center;
                        background: rgba(0,0,0,.8);
                        color: #fff;
                        &:hover {
                            img {
                                display: none;
                            }
                        }
                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }
                    }
                    input,
                    select {
                        border: 1px solid #ccc;
                        height: 30px;
                        line-height: 30px/9;
                        padding: 0;
                        box-sizing: border-box;
                        line-height: 30px;
                        width: 130px;
                        margin-right: 20px;
                        padding-left: 5px;
                    }
                    .edit_username {
                        position: absolute;
                        left: 273px;
                        top: 0;
                        color: #2d85ca;
                    }
                    textarea {
                        height: 50px;
                        padding: 10px;
                        width: 560px;
                    }
                    .textarea_num {
                        position: absolute;
                        right: 55px;
                        color: #BBBBBB;
                    }
                    i {
                        color: #BBBBBB;
                    }
                }
            }
            .login {
                width: 200px;
                margin-bottom: 30px;
            }
        }
    }
    .career_info{
        li{
            line-height: 30px;
            height: 30px;
            label{
              width: 100px;
              height: 30px;
              text-align: right;
              display: block;
              float: left;
              margin-right: 20px;
            }
            a{
                color: #00A8FF;
            }
        }
    }
    .individuation_domain_name{
        margin-bottom: 30px;
        .domain{
            height: 30px;
            line-height: 30px;
            label{
              width: 100px;
              height: 30px;
              text-align: right;
              display: block;
              float: left;
              margin-right: 20px;
            }
            a{
                color: #00A8FF;
            }
        }
        .domain_input_box{
            display: block;
            line-height: 30px;
            margin-left: 30px;
           input{
                margin: 0 20px;
                    line-height: 30px;
                    height: 30px;
                    padding: 0;
                    padding-left: 5px;
                    box-sizing: border-box;
                    width: 130px;
                }
            i {
                        color: #BBBBBB;
            }
            .btns{
                margin: 20px 0;
            }
        }
    }
    
}