@charset "utf-8";

.form_item{
    position: relative;
}
input.error{
    border: 1px solid #FF5C00;
} 

input.highlight{
    border: 1px solid #7abd54;
}
label.error{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 30px;
    line-height: 30px;
    background: #FF5C00;
    border-radius: 4px;
    color: #fff;
    padding: 0 5px;
}