@charset "utf-8";
.web_engineer_banner {
    margin-bottom: 30px;
    background: url("../img/web_engineer_banner.jpg");
    height: 260px;
    width: 100%;
    background-position: center top;
    .banner_content {
        color: #fff;
        width: 1000px;
        margin: 0 auto;
        padding-left: 240px;
        box-sizing: border-box;
        h2 {
            font-size: 24px;
            line-height: 24px;
            padding-top: 40px;
        }
        p {
            margin-top: 20px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
.web_engineer_page_body {
    .left_nav {
        width: 208px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 14px;
        color: #333;
        float: left;
        position: absolute;
        top: 100px;
        li {
            cursor: pointer;
            padding-left: 20px;
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #ccc;
            box-sizing: border-box;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background: #F5F5F5;
                color: #35B558;
            }
            span {
                color: #BBBBBB;
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
    .right_content {
        margin-left: 240px;
        .title {
            height: 20px;
            padding-bottom: 20px;
            h2 {
                font-size: 18px;
                font-weight: 400;
                float: left;
                margin-right: 20px;
            }
            span {
                float: left;
                font-size: 12px;
                line-height: 14px;
                height: 14px;
                color: #666;
                padding-left: 15px;
                border-left: 1px solid #666;
                margin-top: 4px;
            }
        }
        h3 {
            font-size: 16px;
            line-height: 22px;
            color: #333;
            margin-bottom: 2px;
            span {
                font-size: 12px;
                padding: 1px 3px;
                margin-left: 10px;
                border-radius: 2px;
                background: #F9D279;
                color: #fff;
            }
        }
        .teachers {
            display: block;
            color: #999999;
            line-height: 18px;
            font-size: 12px;
            margin-bottom: 5px;
        }
        .now_price {
            color: #FF0000;
            line-height: 20px;
            font-size: 14px;
            margin-right: 10px;
            font-weight: bold;
        }
        .old_price {
            color: #bebebe;
            text-decoration: line-through;
        }
        .grow_plan_course {
            li {
                background: #fff;
                border: 1px solid #ccc;
                margin-bottom: 20px;
                &:hover {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
                }
                a {
                    display: block;
                }
                img {
                    width: 210px;
                    height: 138px;
                    float: left;
                }
                .grow_plan_course_des {
                    margin-left: 230px;
                    padding: 11px 10px 10px 0;
                    .course_des {
                        line-height: 20px;
                        color: #666;
                        height: 44px;
                        margin-bottom: 5px;
                        overflow: hidden;
                    }
                    .grow_nums {
                        float: right;
                        margin-top: 4px;
                        font-size: 12px;
                        color: #999;
                        span {
                            padding: 0 10px;
                            &.grow_time {
                                border-right: 1px solid #999;
                            }
                        }
                    }
                }
            }
        }
        .course_list_item {
            margin-right: -20px;
            li {
                width: 240px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                background: #fff;
                float: left;
                margin-right: 20px;
                margin-bottom: 20px;
                img {
                    width: 238px;
                }
                .course_list_item_des {
                    padding: 10px;
                }
                .teachers {
                    margin-bottom: 10px;
                }
                .student_num {
                    float: right;
                    color: #999;
                    font-size: 12px;
                    margin-top: 4px;
                }
                &:hover {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
                }
            }
        }
        .teatcher_info {
            overflow: hidden;
            margin-bottom: 40px;
        }
        .teacher_info_list {
            width: 1600px;
            li {
                height: 120px;
                width: 253px;
                box-sizing: border-box;
                padding: 30px 20px;
                background: #fff;
                float: left;
                border-right: 1px solid #ccc;
                img {
                    float: left;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    vertical-align: middle;
                    margin-right: 10px;
                }
                p {
                    line-height: 16px;
                    color: #999;
                }
            }
        }
        .noraml_problem {
            background: #fff;
            border: 1px solid #ccc;
            .problem_content {
                padding: 5px 24px 24px;
                height: 140px;
                box-sizing: border-box;
                overflow: hidden;
                h3 {
                    font-size: 16px;
                    line-height: 16px;
                    margin-bottom: 15px;
                    padding-top: 20px;
                }
                p {
                    font-size: 14px;
                    line-height: 22px;
                    color: #666;
                }
            }
            .more_btn {
                border-top: 1px solid #ccc;
                line-height: 50px;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
                &:hover {
                    color: #0DBD0D;
                }
            }
        }
    }
}
.offline_message {
    position: fixed;
    bottom: 0;
    right: 10px;
    display: block;
    line-height: 45px;
    height: 45px;
    background: #53ca9d;
    width: 140px;
    font-size: 16px;
    color: #fff;
    span {
        width: 40px;
        display: inline-block;
        text-align: center;
        font-family: iconfont;
        border-right: 1px solid #BBBBBB;
        margin-right: 15px;
    }
}
//留言弹出层
.message_content_pop {
    width: 354px;
    height: 530px;
    position: fixed;
    right: 40px;
    bottom: 0;
    background: #f2f3f5;
    box-shadow: 0 1px 3px rgba(0,0,0,.1),0 2px 5px rgba(0,0,0,.1);
    h2 {
        line-height: 66px;
        border-bottom: 1px solid #E4E4E4;
        background: #53ca9d;
        font-size: 16px;
        padding-left: 20px;
        color: #fff;
    }
    p,
    label,
    input,
    textarea {
        padding: 0 20px;
    }
    p,
    label {
        line-height: 18px;
        margin: 20px 0;
        color: #666666;
        font-size: 14px;
    }
    label {
        display: block;
        margin: 10px 0;
        em {
            color: red;
        }
    }
    input,
    textarea {
        width: 100%;
        box-sizing: border-box;
        border: none;
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #e4e4e4;
        outline: none;
    }
    input {
        line-height: 45px;
        font-size: 16px;
    }
    textarea {
        height: 100px;
        padding-top: 15px;
        margin-bottom: 25px;
    }
    .message_btns {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .message_submit_btn {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        background: #53CA9D;
        border: none;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        font-family: "microsoft yahei";
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
        outline: none;
    }
    .pop_close_arrow {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #F2F3F5;
        cursor: pointer;
    }
}