/* line 3, ../sass/login.scss */
.login_page_content {
  width: 820px;
  margin: 100px auto 30px;
}
/* line 6, ../sass/login.scss */
.login_page_content .logo_box {
  width: 100%;
  text-align: center;
}
/* line 10, ../sass/login.scss */
.login_page_content .logo img {
  height: 60px;
  margin-bottom: 20px;
}
/* line 14, ../sass/login.scss */
.login_page_content .content {
  background: #fff;
  padding: 40px 60px;
}
/* line 17, ../sass/login.scss */
.login_page_content .content h2 {
  color: #000;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 23, ../sass/login.scss */
.login_page_content .content .left {
  width: 50%;
  float: left;
  padding-right: 40px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 29, ../sass/login.scss */
.login_page_content .content .left .pwd_strength {
  font-size: 0;
  margin-bottom: 10px;
}
/* line 32, ../sass/login.scss */
.login_page_content .content .left .pwd_strength li {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  color: #555555;
  width: 50px;
  text-align: center;
  background: #BBBBBB;
}
/* line 40, ../sass/login.scss */
.login_page_content .content .left .pwd_strength li.active {
  background: #FF5C00;
}
/* line 45, ../sass/login.scss */
.login_page_content .content .left .login {
  margin-top: 20px;
}
/* line 49, ../sass/login.scss */
.login_page_content .content .right {
  width: 50%;
  padding-left: 60px;
  margin-top: 100px;
  float: left;
  box-sizing: border-box;
}
/* line 56, ../sass/login.scss */
.login_page_content .content .right h2 a {
  color: #35B558;
}
/* line 58, ../sass/login.scss */
.login_page_content .content .right h2 a:hover {
  text-decoration: underline;
}
/* line 63, ../sass/login.scss */
.login_page_content .content .right .liner {
  height: 0px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 40px 0;
  position: relative;
}
/* line 69, ../sass/login.scss */
.login_page_content .content .right .liner span {
  width: 86px;
  padding: 0 5px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -43px;
  background: #fff;
}
