/* line 5, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/login.scss */
.login_page_content {
  width: 820px;
  margin: 100px auto 30px;
}
/* line 6, ../sass/login.scss */
.login_page_content .logo_box {
  width: 100%;
  text-align: center;
}
/* line 10, ../sass/login.scss */
.login_page_content .logo img {
  height: 60px;
  margin-bottom: 20px;
}
/* line 14, ../sass/login.scss */
.login_page_content .content {
  background: #fff;
  padding: 40px 60px;
}
/* line 17, ../sass/login.scss */
.login_page_content .content h2 {
  color: #000;
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}
/* line 23, ../sass/login.scss */
.login_page_content .content .left {
  width: 50%;
  float: left;
  padding-right: 40px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 29, ../sass/login.scss */
.login_page_content .content .left .pwd_strength {
  font-size: 0;
  margin-bottom: 10px;
}
/* line 32, ../sass/login.scss */
.login_page_content .content .left .pwd_strength li {
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
  color: #555555;
  width: 50px;
  text-align: center;
  background: #BBBBBB;
}
/* line 40, ../sass/login.scss */
.login_page_content .content .left .pwd_strength li.active {
  background: #FF5C00;
}
/* line 45, ../sass/login.scss */
.login_page_content .content .left .login {
  margin-top: 20px;
}
/* line 49, ../sass/login.scss */
.login_page_content .content .right {
  width: 50%;
  padding-left: 60px;
  margin-top: 100px;
  float: left;
  box-sizing: border-box;
}
/* line 56, ../sass/login.scss */
.login_page_content .content .right h2 a {
  color: #35B558;
}
/* line 58, ../sass/login.scss */
.login_page_content .content .right h2 a:hover {
  text-decoration: underline;
}
/* line 63, ../sass/login.scss */
.login_page_content .content .right .liner {
  height: 0px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 40px 0;
  position: relative;
}
/* line 69, ../sass/login.scss */
.login_page_content .content .right .liner span {
  width: 86px;
  padding: 0 5px;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -43px;
  background: #fff;
}

@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?t=1473764201#iefix") format("embedded-opentype"), url("../font/iconfont.woff?t=1473764201") format("woff"), url("../font/iconfont.ttf?t=1473764201") format("truetype"), url("../font/iconfont.svg?t=1473764201#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 15, ../sass/main.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  line-height: 39px;
  color: #BBBBBB;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/main.scss */
.icon-fanhuidingbu:before {
  content: "\f0010";
}

/* line 29, ../sass/main.scss */
.icon-phone:before {
  content: "\e611";
}

/* line 32, ../sass/main.scss */
.icon-weixin:before {
  content: "\3488";
}

/* line 35, ../sass/main.scss */
.icon-lianxiwomen:before {
  content: "\e60e";
}

/* line 38, ../sass/main.scss */
.icon-QQ:before {
  content: "\e607";
}

/* line 41, ../sass/main.scss */
.icon-unie61d:before {
  content: "\e60a";
}

/* line 44, ../sass/main.scss */
.icon-baidu:before {
  content: "\e7df";
}

/* line 47, ../sass/main.scss */
body {
  font-family: "microsoft yahei";
  font-size: 12px;
  background: #F5F5F5;
}

/* line 52, ../sass/main.scss */
.commwidth {
  width: 1000px;
  margin: 0 auto;
}

/* line 56, ../sass/main.scss */
.fl {
  float: left;
}

/* line 59, ../sass/main.scss */
.fr {
  float: right;
}

/* line 62, ../sass/main.scss */
.show {
  display: block;
}

/* line 65, ../sass/main.scss */
.hide {
  display: none;
}

/* line 68, ../sass/main.scss */
.hr_20 {
  height: 20px;
  overflow: hidden;
}

/* line 72, ../sass/main.scss */
.clearfix:after {
  content: "";
  display: block;
  overflow: hidden;
  clear: both;
}

/* line 78, ../sass/main.scss */
.btn {
  font-size: 12px;
  height: 30px;
  border: 1px solid #35B558;
  line-height: 30px;
  width: 83px;
  color: #35B558;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
  transition: all 0.3s;
}
/* line 90, ../sass/main.scss */
.btn:hover {
  color: #fff;
  background: #35B558;
}

/* line 95, ../sass/main.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 99, ../sass/main.scss */
header {
  width: 100%;
  height: 60px;
  position: relative;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
/* line 105, ../sass/main.scss */
header .logo {
  margin-top: 8px;
  margin-right: 34px;
}
/* line 110, ../sass/main.scss */
header ul li {
  float: left;
  padding: 0 24px;
  line-height: 60px;
  font-size: 14px;
  position: relative;
}
/* line 116, ../sass/main.scss */
header ul li:hover {
  color: #6DC986;
  cursor: pointer;
}
/* line 119, ../sass/main.scss */
header ul li:hover .index {
  color: #6DC986;
}
/* line 122, ../sass/main.scss */
header ul li:hover .arrow {
  background: url("../img/nav_arrow_hover.jpg");
  transform: rotate(180deg);
}
/* line 126, ../sass/main.scss */
header ul li:hover .submenu {
  opacity: 1;
  visibility: visible;
}
/* line 131, ../sass/main.scss */
header ul li .arrow {
  transition: 0.5s;
  display: inline-block;
  height: 7px;
  width: 13px;
  margin-left: 5px;
  background: url("../img/nav_arrow.gif") no-repeat center center;
}
/* line 139, ../sass/main.scss */
header ul li .submenu {
  position: absolute;
  top: 60;
  z-index: 10000;
  width: 280px;
  border: 1px solid #ccc;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.5s;
  background: #fff;
}
/* line 149, ../sass/main.scss */
header ul li .submenu h3 {
  line-height: 28px;
  color: #7E7E7E;
  margin: 10px 0;
  background: #FAFAFA;
  padding-left: 15px;
}
/* line 156, ../sass/main.scss */
header ul li .submenu a {
  display: block;
  line-height: 30px;
  background: #fff;
  padding-left: 15px;
}
/* line 161, ../sass/main.scss */
header ul li .submenu a span {
  display: inline-block;
  background: url("../img/submenu_web_icon.png") no-repeat;
  height: 11px;
  width: 14px;
  margin-right: 5px;
}
/* line 168, ../sass/main.scss */
header ul li .submenu a i {
  float: right;
  text-align: right;
  margin-right: 10px;
  color: #bbb;
}
/* line 178, ../sass/main.scss */
header .icon_box {
  float: right;
  width: 200px;
  height: 60px;
  text-align: right;
}
/* line 183, ../sass/main.scss */
header .icon_box span {
  display: inline-block;
  height: 60px;
  width: 19px;
  margin-right: 30px;
  position: relative;
}
/* line 189, ../sass/main.scss */
header .icon_box span:hover {
  cursor: pointer;
}
/* line 192, ../sass/main.scss */
header .icon_box span .submenu {
  position: absolute;
  background: #fff;
  top: 61px;
  left: -35px;
  width: 100px;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}
/* line 203, ../sass/main.scss */
header .icon_box span i {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  transform: rotate(45deg);
  top: -8px;
  left: 38px;
  background: #fff;
}
/* line 215, ../sass/main.scss */
header .icon_box span img {
  left: -20px;
  top: 60px;
  width: 100px;
  height: auto;
}
/* line 221, ../sass/main.scss */
header .icon_box span .usermanage {
  padding: 10px;
}
/* line 223, ../sass/main.scss */
header .icon_box span .usermanage em {
  padding: 0 10px;
}
/* line 226, ../sass/main.scss */
header .icon_box span .usermanage dd {
  line-height: 30px;
}
/* line 228, ../sass/main.scss */
header .icon_box span .usermanage dd span {
  height: 10px;
  width: 10px;
  background: url("../img/submenu_web_icon.png") no-repeat;
  margin-right: 10px;
}
/* line 235, ../sass/main.scss */
header .icon_box span .usermanage dt {
  line-height: 30px;
}
/* line 240, ../sass/main.scss */
header .icon_box .search {
  background: url("../img/search_icon.jpg") no-repeat center center;
}
/* line 243, ../sass/main.scss */
header .icon_box .app {
  background: url("../img/app_icon.jpg") no-repeat center center;
}
/* line 246, ../sass/main.scss */
header .icon_box .app:hover .submenu {
  visibility: visible;
  opacity: 1;
}
/* line 252, ../sass/main.scss */
header .icon_box .user {
  background: url("../img/user_icon.jpg") no-repeat center center;
}
/* line 255, ../sass/main.scss */
header .icon_box .user:hover .submenu {
  visibility: visible;
  opacity: 1;
}
/* line 262, ../sass/main.scss */
header .search_box {
  position: absolute;
  height: 60px;
  width: 0;
  right: 160px;
  background: #fff;
  line-height: 60px;
  overflow: hidden;
  transition: width 1s;
}
/* line 271, ../sass/main.scss */
header .search_box .search_icon {
  background: url("../img/search_icon.jpg") no-repeat center center;
  width: 19px;
  height: 60px;
  display: inline-block;
}
/* line 277, ../sass/main.scss */
header .search_box input {
  border: none;
  outline: none;
  height: 40px;
  line-height: 40px/9;
  width: 470px;
  margin-top: 10px;
  margin-left: 10px;
  vertical-align: middle;
}
/* line 287, ../sass/main.scss */
header .search_box a {
  color: #808080;
  background: #f5f5f5;
  padding: 5px 10px;
}
/* line 292, ../sass/main.scss */
header .search_box .close {
  float: right;
  display: inline-block;
  width: 15px;
  height: 60px;
  background: url("../img/close-icon.png") center center no-repeat;
  cursor: pointer;
}
/* line 301, ../sass/main.scss */
header .showanimate {
  width: 820px;
}

/* line 306, ../sass/main.scss */
.container .slider {
  width: 750px;
  height: 330px;
  position: relative;
}
/* line 311, ../sass/main.scss */
.container .slider .img {
  position: absolute;
  width: 730px;
  left: 0;
}
/* line 315, ../sass/main.scss */
.container .slider .img li {
  position: absolute;
  transition: opacity 0.5s;
  opacity: 0;
}
/* line 320, ../sass/main.scss */
.container .slider .img .fadein {
  opacity: 1;
  z-index: 1;
}
/* line 324, ../sass/main.scss */
.container .slider .img .fadeout {
  opacity: 0;
}
/* line 329, ../sass/main.scss */
.container .slider:hover .slider_btn {
  display: block;
}
/* line 333, ../sass/main.scss */
.container .slider .slider_btn {
  position: absolute;
  display: none;
  height: 80px;
  width: 50px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 60px;
  line-height: 80px;
  z-index: 4;
  top: 50%;
  margin-top: -40px;
  color: #fff;
  text-align: center;
}
/* line 347, ../sass/main.scss */
.container .slider .prev {
  left: 0;
}
/* line 350, ../sass/main.scss */
.container .slider .next {
  right: 0;
}
/* line 353, ../sass/main.scss */
.container .slider .num {
  width: 100%;
  height: 0;
  background: red;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 5;
}
/* line 361, ../sass/main.scss */
.container .slider .num li {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #fff;
  position: relative;
  vertical-align: top;
  margin-right: 10px;
  cursor: pointer;
}
/* line 370, ../sass/main.scss */
.container .slider .num li.active {
  top: -10px;
  height: 20px;
  background: #6DC986;
}
/* line 378, ../sass/main.scss */
.container .loginbox {
  height: 110px;
  width: 182px;
  background: #fff;
  padding: 25px 28px;
  border: 1px solid #ccc;
}
/* line 384, ../sass/main.scss */
.container .loginbox .login_icon {
  width: 56px;
  height: 56px;
  margin-right: 14px;
  float: left;
}
/* line 390, ../sass/main.scss */
.container .loginbox .username {
  line-height: 20px;
  display: inline-block;
  margin-top: 5px;
}
/* line 395, ../sass/main.scss */
.container .loginbox .label {
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: purple;
  color: #fff;
  padding: 0 5px;
  display: inline-block;
  margin-right: 5px;
  display: none;
}
/* line 406, ../sass/main.scss */
.container .loginbox .login_btn {
  margin-top: 20px;
  font-size: 0;
}
/* line 409, ../sass/main.scss */
.container .loginbox .login_btn .resign {
  margin-right: 0;
}
/* line 412, ../sass/main.scss */
.container .loginbox .login_btn .study_center {
  width: 100%;
  margin-right: 0;
}
/* line 418, ../sass/main.scss */
.container .jiuye {
  width: 998px;
  height: 126px;
  border: 1px solid #ccc;
  background: #fff;
}
/* line 423, ../sass/main.scss */
.container .jiuye .jiuyeban {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  padding-top: 90px;
  text-align: center;
  box-sizing: border-box;
  font-family: "microsoft yahei";
  border-right: 1px solid #ccc;
  color: #555555;
  position: relative;
  transition: color 0.3s;
}
/* line 436, ../sass/main.scss */
.container .jiuye .jiuyeban:nth-child(1) {
  background: url("../img/jiuyeban.png") no-repeat center center;
}
/* line 439, ../sass/main.scss */
.container .jiuye .jiuyeban:nth-child(2) {
  background: url("../img/jiuyeban.png") no-repeat center center;
}
/* line 442, ../sass/main.scss */
.container .jiuye .jiuyeban:nth-child(3) {
  background: url("../img/jiuyeban.png") no-repeat center center;
}
/* line 445, ../sass/main.scss */
.container .jiuye .jiuyeban:nth-child(4) {
  border: none;
  background: url("../img/jiuyeban.png") no-repeat center center;
}
/* line 449, ../sass/main.scss */
.container .jiuye .jiuyeban:hover {
  color: #35B558;
}
/* line 452, ../sass/main.scss */
.container .jiuye .jiuyeban i {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/jiuye_icon.png");
}
/* line 463, ../sass/main.scss */
.container .jingpinkecheng {
  width: 1000px;
}
/* line 465, ../sass/main.scss */
.container .jingpinkecheng .list_course {
  margin-right: -20px;
}
/* line 468, ../sass/main.scss */
.container .jingpinkecheng .list_course_item {
  float: left;
  border: 1px solid #ccc;
  width: 233px;
  position: relative;
  margin-right: 20px;
}
/* line 474, ../sass/main.scss */
.container .jingpinkecheng .list_course_item .course_container {
  background: #fff;
  padding: 10px;
}
/* line 477, ../sass/main.scss */
.container .jingpinkecheng .list_course_item .course_container p {
  height: 36px;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 482, ../sass/main.scss */
.container .jingpinkecheng .list_course_item .course_container span {
  color: #ddd;
  line-height: 20px;
}
/* line 486, ../sass/main.scss */
.container .jingpinkecheng .list_course_item .course_container em {
  font-style: normal;
  padding: 0 10px;
  color: #ddd;
}
/* line 491, ../sass/main.scss */
.container .jingpinkecheng .list_course_item .course_container .now_price {
  color: #FF5C00;
  font-size: 14px;
  font-weight: bold;
}
/* line 496, ../sass/main.scss */
.container .jingpinkecheng .list_course_item .course_container .old_price {
  text-decoration: line-through;
}
/* line 500, ../sass/main.scss */
.container .jingpinkecheng .list_course_item:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
/* line 505, ../sass/main.scss */
.container .job_college {
  width: 1000px;
}
/* line 507, ../sass/main.scss */
.container .job_college .job_college_title {
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  color: #555;
}
/* line 513, ../sass/main.scss */
.container .job_college .web_engineer {
  height: 270px;
  width: 498px;
  background: url("../img/web_engineer.png");
  margin-right: 10px;
}
/* line 519, ../sass/main.scss */
.container .job_college .right {
  height: 270px;
  width: 492px;
  overflow: hidden;
}
/* line 523, ../sass/main.scss */
.container .job_college .right .job_college_item {
  float: left;
  height: 130px;
  width: 241px;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 530, ../sass/main.scss */
.container .job_college .right .python_engineer {
  background: url("../img/python_engineer.png");
}
/* line 533, ../sass/main.scss */
.container .job_college .right .ios_engineer {
  margin-bottom: 0;
  background: url("../img/python_engineer.png");
}
/* line 537, ../sass/main.scss */
.container .job_college .right .go_engineer {
  margin-right: 0;
  background: url("../img/python_engineer.png");
}
/* line 541, ../sass/main.scss */
.container .job_college .right .more {
  margin: 0;
  background: url("../img/python_engineer.png");
}
/* line 548, ../sass/main.scss */
.container .vip_course .vip_course_title {
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  color: #555;
}
/* line 554, ../sass/main.scss */
.container .vip_course .vip_course_content {
  margin-right: -10px;
}
/* line 556, ../sass/main.scss */
.container .vip_course .vip_course_content li {
  height: 150px;
  width: 156px;
  border: 1px solid #ccc;
  background: #fff;
  text-align: center;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 565, ../sass/main.scss */
.container .vip_course .vip_course_content li img {
  width: 65px;
  height: 60px;
  margin-top: 28px;
}
/* line 570, ../sass/main.scss */
.container .vip_course .vip_course_content li span {
  font-family: "microsoft yahei";
  display: block;
  line-height: 20px;
}
/* line 575, ../sass/main.scss */
.container .vip_course .vip_course_content li .vip_course_name {
  margin-bottom: 5px;
}
/* line 578, ../sass/main.scss */
.container .vip_course .vip_course_content li .vip_course_num {
  color: #35B558;
  font-weight: 400;
}
/* line 582, ../sass/main.scss */
.container .vip_course .vip_course_content li:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}
/* line 587, ../sass/main.scss */
.container .vip_course .all_course_btn {
  text-align: center;
  margin: 20px 0;
}
/* line 593, ../sass/main.scss */
.container .student_story .student_story_content {
  overflow: hidden;
  position: relative;
}
/* line 596, ../sass/main.scss */
.container .student_story .student_story_content .btn_banner {
  height: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-size: 0;
}
/* line 603, ../sass/main.scss */
.container .student_story .student_story_content .btn_banner a {
  font-size: 12px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  background: #fff;
}
/* line 610, ../sass/main.scss */
.container .student_story .student_story_content .btn_banner a.active {
  width: 20px;
  background: #35B558;
}
/* line 617, ../sass/main.scss */
.container .student_story .list_content {
  width: 2000px;
  margin-bottom: 80px;
}
/* line 621, ../sass/main.scss */
.container .student_story .student_story_title {
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  color: #555;
}
/* line 627, ../sass/main.scss */
.container .student_story .banner_content {
  margin-right: -20px;
  float: left;
}
/* line 631, ../sass/main.scss */
.container .student_story .list_content_item {
  width: 320px;
  float: left;
  margin-right: 20px;
}
/* line 635, ../sass/main.scss */
.container .student_story .list_content_item .story_cotent {
  position: relative;
  margin-bottom: 30px;
}
/* line 638, ../sass/main.scss */
.container .student_story .list_content_item .story_cotent:before {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -20px;
  left: 80px;
  z-index: 2;
}
/* line 651, ../sass/main.scss */
.container .student_story .list_content_item p {
  padding: 20px;
  line-height: 20px;
  background: #fff;
  margin-bottom: 10px;
  position: relative;
}
/* line 657, ../sass/main.scss */
.container .student_story .list_content_item p:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 12px;
  top: 10px;
  left: 2px;
  background: url("../img/student_p_icon_left.png");
}
/* line 666, ../sass/main.scss */
.container .student_story .list_content_item p:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 12px;
  bottom: 10px;
  right: 2px;
  background: url("../img/student_p_icon_right.png");
}
/* line 675, ../sass/main.scss */
.container .student_story .list_content_item p:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}
/* line 679, ../sass/main.scss */
.container .student_story .list_content_item img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  margin: 0 20px;
  float: left;
}
/* line 686, ../sass/main.scss */
.container .student_story .list_content_item span {
  line-height: 30px;
  color: #555;
}
/* line 690, ../sass/main.scss */
.container .student_story .list_content_item .student_name {
  color: #000;
}

/* line 696, ../sass/main.scss */
.footer {
  padding: 30px 0 0;
  background: #fff;
  border-top: 1px solid #ccc;
  color: #9F9F9F;
}
/* line 701, ../sass/main.scss */
.footer .left_area {
  width: 230px;
  height: 205px;
  float: left;
}
/* line 705, ../sass/main.scss */
.footer .left_area p {
  margin-top: 22px;
}
/* line 709, ../sass/main.scss */
.footer dl {
  line-height: 35px;
  width: 150px;
  float: left;
}
/* line 714, ../sass/main.scss */
.footer dt {
  color: #808080;
  font-size: 14px;
}
/* line 719, ../sass/main.scss */
.footer dd a {
  color: #9F9F9F;
}
/* line 721, ../sass/main.scss */
.footer dd a:hover {
  color: #35B558;
}
/* line 726, ../sass/main.scss */
.footer .contact {
  float: left;
}
/* line 728, ../sass/main.scss */
.footer .contact p {
  line-height: 35px;
  font-size: 14px;
  margin-bottom: 10px;
}
/* line 733, ../sass/main.scss */
.footer .contact .footer_btn {
  display: block;
  height: 30px;
  width: 100px;
  border: 1px solid #ccc;
  line-height: 30px;
  padding-left: 40px;
  margin-bottom: 10px;
  color: #808080;
  position: relative;
}
/* line 743, ../sass/main.scss */
.footer .contact .footer_btn .submenu {
  position: absolute;
  background: #fff;
  bottom: 45px;
  left: 10px;
  width: 100px;
  display: block;
  visibility: hidden;
  border-bottom: 1px solid #ccc;
  opacity: 0;
  transition: opacity 1s;
}
/* line 755, ../sass/main.scss */
.footer .contact .footer_btn i {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  transform: rotate(-135deg);
  bottom: -8px;
  left: 38px;
  background: #fff;
}
/* line 767, ../sass/main.scss */
.footer .contact .footer_btn img {
  left: -20px;
  top: 60px;
  width: 100px;
  height: auto;
}
/* line 774, ../sass/main.scss */
.footer .contact .iphone {
  background: url("../img/footer_iphone_icon.png") left center no-repeat;
}
/* line 777, ../sass/main.scss */
.footer .contact .iphone:hover .submenu {
  opacity: 1;
  visibility: visible;
}
/* line 783, ../sass/main.scss */
.footer .contact .android {
  background: url("../img/footer_android_icon.png") left center no-repeat;
}
/* line 786, ../sass/main.scss */
.footer .contact .android:hover .submenu {
  opacity: 1;
  visibility: visible;
}
/* line 793, ../sass/main.scss */
.footer .copyright {
  border-top: 1px solid #ccc;
  text-align: center;
  line-height: 40px;
}

/* line 799, ../sass/main.scss */
.sliderbar {
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  background: #F5F5F5;
}
/* line 805, ../sass/main.scss */
.sliderbar span {
  cursor: pointer;
  display: block;
  height: 39px;
  border-bottom: 1px solid #ccc;
}
/* line 810, ../sass/main.scss */
.sliderbar span:nth-child(1) {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
/* line 814, ../sass/main.scss */
.sliderbar span:nth-child(1).show {
  visibility: visible;
  opacity: 1;
}

/* line 821, ../sass/main.scss */
.mark {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10001;
  display: none;
}

/* line 831, ../sass/main.scss */
.pop_login {
  display: none;
  position: fixed;
  height: 470px;
  width: 400px;
  background: #fff;
  z-index: 10002;
  bottom: 0;
  left: 50%;
  margin-left: -250px;
  padding: 50px;
}
/* line 842, ../sass/main.scss */
.pop_login .pop_login_title {
  color: #000;
  font-size: 22px;
  margin-bottom: 20px;
  position: relative;
}
/* line 847, ../sass/main.scss */
.pop_login .pop_login_title span {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  background: url("../img/close-icon.png") center center no-repeat;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 10003;
}
/* line 859, ../sass/main.scss */
.pop_login .quick_login {
  position: absolute;
  top: 85px;
  left: 50%;
  margin-left: -29px;
  width: 48px;
  padding: 0 5px;
  background: #fff;
  color: #BBBBBB;
}
/* line 869, ../sass/main.scss */
.pop_login .mobile_login {
  display: block;
  color: #555555;
  text-align: right;
  margin-bottom: 10px;
}
/* line 874, ../sass/main.scss */
.pop_login .mobile_login:hover {
  color: #35B558;
}
/* line 877, ../sass/main.scss */
.pop_login .mobile_login span {
  font-family: iconfont;
}
/* line 881, ../sass/main.scss */
.pop_login .forget_pwd {
  display: inline-block;
  float: right;
}
/* line 884, ../sass/main.scss */
.pop_login .forget_pwd:hover {
  color: #35B558;
}
/* line 889, ../sass/main.scss */
.pop_login .no_account {
  font-size: 22px;
  text-align: center;
  margin-top: 35px;
}
/* line 893, ../sass/main.scss */
.pop_login .no_account a {
  color: #35B558;
}
/* line 895, ../sass/main.scss */
.pop_login .no_account a:hover {
  text-decoration: underline;
}

/* line 901, ../sass/main.scss */
.text {
  height: 45px;
  line-height: 45px/9;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 10px;
  box-sizing: border-box;
}

/* line 911, ../sass/main.scss */
.small_text {
  width: 60%;
}

/* line 914, ../sass/main.scss */
.checkbox {
  line-height: 20px;
  margin: 20px 0;
  position: relative;
}

/* line 919, ../sass/main.scss */
input[type="checkbox"] {
  position: relative;
  top: 3px;
}

/* line 923, ../sass/main.scss */
.other_login {
  margin: 40px 0;
  font-size: 0;
  text-align: center;
  font-family: iconfont;
}
/* line 928, ../sass/main.scss */
.other_login li {
  height: 50px;
  font-size: 35px;
  line-height: 45px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  text-align: center;
  display: inline-block;
}
/* line 937, ../sass/main.scss */
.other_login li:nth-child(1) {
  border: 1px solid #00A8FF;
}
/* line 939, ../sass/main.scss */
.other_login li:nth-child(1) span {
  color: #00A8FF;
}
/* line 942, ../sass/main.scss */
.other_login li:nth-child(1):hover {
  background: #00A8FF;
}
/* line 943, ../sass/main.scss */
.other_login li:nth-child(1):hover span {
  color: #fff;
}
/* line 949, ../sass/main.scss */
.other_login li:nth-child(4) {
  border: 1px solid #00A8FF;
}
/* line 951, ../sass/main.scss */
.other_login li:nth-child(4) span {
  color: #00A8FF;
}
/* line 954, ../sass/main.scss */
.other_login li:nth-child(4):hover {
  background: #00A8FF;
}
/* line 955, ../sass/main.scss */
.other_login li:nth-child(4):hover span {
  color: #fff;
}
/* line 961, ../sass/main.scss */
.other_login li:nth-child(3) {
  border: 1px solid #0DBD0D;
}
/* line 963, ../sass/main.scss */
.other_login li:nth-child(3) span {
  color: #0DBD0D;
}
/* line 966, ../sass/main.scss */
.other_login li:nth-child(3):hover {
  background: #0DBD0D;
}
/* line 967, ../sass/main.scss */
.other_login li:nth-child(3):hover span {
  color: #fff;
}
/* line 973, ../sass/main.scss */
.other_login li:nth-child(2) {
  border: 1px solid #EB2B00;
}
/* line 975, ../sass/main.scss */
.other_login li:nth-child(2) span {
  color: #EB2B00;
}
/* line 978, ../sass/main.scss */
.other_login li:nth-child(2):hover {
  background: #EB2B00;
}
/* line 979, ../sass/main.scss */
.other_login li:nth-child(2):hover span {
  color: #fff;
}

/* line 987, ../sass/main.scss */
.login {
  border: none;
  background: #35B558;
  text-align: center;
  color: #fff;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  transition: background 0.8s;
  font-family: "microsoft yahei";
  width: 100%;
}
/* line 998, ../sass/main.scss */
.login:hover {
  background: #6DC986;
}
