/* line 5, ../sass/mystudycenter.scss */
.study_center_body .breadcrumb {
  height: 20px;
  line-height: 20px;
  color: #bbbbbb;
  margin-bottom: 20px;
}
/* line 10, ../sass/mystudycenter.scss */
.study_center_body .breadcrumb li {
  float: left;
}
/* line 12, ../sass/mystudycenter.scss */
.study_center_body .breadcrumb li span {
  padding: 0 2px;
}
/* line 15, ../sass/mystudycenter.scss */
.study_center_body .breadcrumb li a {
  color: #ccc;
}
/* line 17, ../sass/mystudycenter.scss */
.study_center_body .breadcrumb li a:hover {
  text-decoration: underline;
}
/* line 23, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder {
  background: #fff;
  width: 210px;
  float: left;
  margin-right: 15px;
}
/* line 28, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder .student_info {
  height: 85px;
  font-size: 0;
}
/* line 32, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder .student_info img {
  margin: 0 20px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  display: inline-block;
}
/* line 39, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder .student_info span {
  line-height: 85px;
  font-size: 12px;
  display: inline-block;
}
/* line 45, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li {
  border-top: 1px solid #ccc;
  height: 48px;
  line-height: 48px;
}
/* line 49, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li a {
  display: block;
  padding-left: 20px;
}
/* line 52, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li a:hover {
  color: #0DBD0D;
  background: #F5F5F5;
}
/* line 55, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li a:hover span {
  color: #0DBD0D;
}
/* line 61, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li span {
  font-size: 14px;
  padding: 0 10px;
  font-family: iconfont;
  color: #BBBBBB;
}
/* line 69, ../sass/mystudycenter.scss */
.study_center_body .study_center_content {
  float: left;
  width: 775px;
}
/* line 72, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav {
  background: #fff;
  height: 38px;
}
/* line 75, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav ul {
  font-size: 0;
}
/* line 78, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav li {
  font-size: 14px;
  display: inline-block;
  line-height: 36px;
  padding: 0 15px;
}
/* line 83, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav li.acitve {
  border-bottom: 2px solid #0DBD0D;
}
/* line 90, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list {
  margin-right: -5px;
}
/* line 93, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  position: relative;
  height: 223px;
}
/* line 102, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content {
  width: 246px;
  margin: 2px auto 0;
  height: 223px;
  position: absolute;
  background: #fff;
  transition: height 0.4s;
}
/* line 109, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content img {
  width: 246px;
}
/* line 112, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img {
  position: relative;
  display: inline-block;
}
/* line 115, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img span {
  position: absolute;
  top: -4px;
  right: 10px;
  padding: 4px 8px;
  background: #35B558;
  color: #fff;
  display: none;
  z-index: 10012;
}
/* line 124, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img span.active {
  display: block;
}
/* line 128, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img .player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  height: 40px;
  width: 40px;
  opacity: 0;
  transform: scale(1);
  transition: opacity .4s,transform .4s;
  z-index: 10011;
}
/* line 140, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img .schedule {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 4px;
  z-index: 10009;
  background: #999999;
  color: #fff;
}
/* line 149, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img .mark {
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity .4s;
  z-index: 10010;
}
/* line 157, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content {
  padding: 10px;
  line-height: 18px;
  color: #808080;
}
/* line 161, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .title {
  height: 40px;
  display: block;
  color: #333333;
  font-size: 14px;
}
/* line 167, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content p {
  height: 0px;
  overflow: hidden;
  transition: height 0.4s;
}
/* line 172, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content i {
  font-family: iconfont;
}
/* line 175, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content span {
  display: inline-block;
  margin: 5px 0;
  width: 50%;
}
/* line 180, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .icons {
  display: inline-block;
  float: right;
  margin: 5px 0;
}
/* line 185, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .study_num {
  float: right;
  text-align: right;
  display: none;
}
/* line 190, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .study_hight {
  display: none;
}
/* line 194, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover {
  height: 308px;
  border: 1px solid #0DBD0D;
  border-top: 0;
}
/* line 198, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover .study_num, .study_center_body .study_center_container .study_center_course_list_item_content:hover .study_hight {
  display: inline-block;
}
/* line 201, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover p {
  height: 54px;
}
/* line 204, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover .player {
  opacity: 1;
  transform: scale(1.4);
}
/* line 208, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover .mark {
  opacity: 1;
}
/* line 213, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav {
  height: 32px;
  line-height: 32px;
  font-size: 0;
  text-align: center;
  margin: 30px  0 50px;
}
/* line 219, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  background: #fff;
  padding: 0 12px;
  margin-right: 10px;
}
/* line 220, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li:first-child, .study_center_body .study_center_container .page_nav li:last-child {
  padding: 0 20px;
}
/* line 223, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li.un_active {
  cursor: auto;
  color: #DDDDDD;
}
/* line 226, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li.un_active:hover {
  background: #fff;
  color: #DDDDDD;
}
/* line 231, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li:hover, .study_center_body .study_center_container .page_nav li.active {
  background: #35B558;
  color: #fff;
}
