/* line 3, ../sass/mystudycenter.scss */
.breadcrumb {
  height: 20px;
  line-height: 20px;
  color: #bbbbbb;
  margin-bottom: 20px;
}
/* line 8, ../sass/mystudycenter.scss */
.breadcrumb li {
  float: left;
}
/* line 10, ../sass/mystudycenter.scss */
.breadcrumb li span {
  padding: 0 2px;
}
/* line 13, ../sass/mystudycenter.scss */
.breadcrumb li a {
  color: #ccc;
}
/* line 15, ../sass/mystudycenter.scss */
.breadcrumb li a:hover {
  text-decoration: underline;
}

/* line 22, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder {
  background: #fff;
  width: 210px;
  float: left;
  margin-right: 15px;
}
/* line 27, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder .student_info {
  height: 85px;
  font-size: 0;
}
/* line 30, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder .student_info img {
  margin: 0 20px;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  display: inline-block;
}
/* line 37, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder .student_info span {
  line-height: 85px;
  font-size: 12px;
  display: inline-block;
}
/* line 43, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li {
  border-top: 1px solid #ccc;
  height: 48px;
  line-height: 48px;
}
/* line 47, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li a {
  display: block;
  padding-left: 20px;
}
/* line 50, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li a:hover {
  color: #0DBD0D;
  background: #E4E4E4;
}
/* line 53, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li a:hover span {
  color: #0DBD0D;
}
/* line 58, ../sass/mystudycenter.scss */
.study_center_body .study_center_silder li span {
  font-size: 14px;
  padding: 0 10px;
  font-family: iconfont;
  color: #BBBBBB;
}
/* line 66, ../sass/mystudycenter.scss */
.study_center_body .study_center_content {
  float: left;
  width: 775px;
}
/* line 69, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav {
  background: #fff;
  height: 38px;
}
/* line 72, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav ul {
  font-size: 0;
}
/* line 75, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav li {
  font-size: 14px;
  display: inline-block;
  line-height: 36px;
  padding: 0 15px;
}
/* line 80, ../sass/mystudycenter.scss */
.study_center_body .study_center_content .study_tab_nav li.acitve {
  border-bottom: 2px solid #0DBD0D;
}
/* line 87, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list {
  margin-right: -5px;
}
/* line 90, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item {
  width: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  position: relative;
  height: 223px;
}
/* line 98, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content {
  width: 246px;
  margin: 2px auto 0;
  height: 223px;
  position: absolute;
  background: #fff;
  transition: height 0.4s;
}
/* line 105, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content img {
  width: 246px;
}
/* line 108, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img {
  position: relative;
  display: inline-block;
}
/* line 111, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img span {
  position: absolute;
  top: -4px;
  right: 10px;
  padding: 4px 8px;
  background: #35B558;
  color: #fff;
  display: none;
  z-index: 10012;
}
/* line 120, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img span.active {
  display: block;
}
/* line 124, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img .player {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
  height: 40px;
  width: 40px;
  opacity: 0;
  transform: scale(1);
  transition: opacity 0.4s,transform 0.4s;
  z-index: 10011;
}
/* line 136, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img .schedule {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 4px;
  z-index: 10009;
  background: #999999;
  color: #fff;
}
/* line 145, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .img .mark {
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 10010;
}
/* line 153, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content {
  padding: 10px;
  line-height: 18px;
  color: #808080;
}
/* line 157, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .title {
  height: 40px;
  display: block;
  color: #333333;
  font-size: 14px;
}
/* line 163, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content p {
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
/* line 168, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content i {
  font-family: iconfont;
}
/* line 171, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content span {
  display: inline-block;
  margin: 5px 0;
  width: 50%;
}
/* line 176, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .icons {
  display: inline-block;
  float: right;
  margin: 5px 0;
}
/* line 181, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .study_num {
  float: right;
  text-align: right;
  display: none;
}
/* line 186, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content .content .study_hight {
  display: none;
}
/* line 190, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover {
  height: 308px;
  border: 1px solid #0DBD0D;
  border-top: 0;
}
/* line 194, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover .study_num,
.study_center_body .study_center_container .study_center_course_list_item_content:hover .study_hight {
  display: inline-block;
}
/* line 198, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover p {
  height: 54px;
}
/* line 201, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover .player {
  opacity: 1;
  transform: scale(1.4);
}
/* line 205, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .study_center_course_list_item_content:hover .mark {
  opacity: 1;
}
/* line 210, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav {
  height: 32px;
  line-height: 32px;
  font-size: 0;
  text-align: center;
  margin: 30px 0 50px;
}
/* line 216, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  background: #fff;
  padding: 0 12px;
  margin-right: 10px;
}
/* line 217, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li:first-child, .study_center_body .study_center_container .page_nav li:last-child {
  padding: 0 20px;
}
/* line 221, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li.un_active {
  cursor: auto;
  color: #DDDDDD;
}
/* line 224, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li.un_active:hover {
  background: #fff;
  color: #DDDDDD;
}
/* line 229, ../sass/mystudycenter.scss */
.study_center_body .study_center_container .page_nav li:hover, .study_center_body .study_center_container .page_nav li.active {
  background: #35B558;
  color: #fff;
}
