/* line 2, ../sass/set_user_info.scss */
.set_user_info_slider {
  width: 208px;
  border: 1px solid #ccc;
  line-height: 50px;
  background: #fff;
  float: left;
  margin-right: 30px;
}
/* line 9, ../sass/set_user_info.scss */
.set_user_info_slider ul {
  margin-bottom: -1px;
}
/* line 12, ../sass/set_user_info.scss */
.set_user_info_slider li {
  padding-left: 20px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
/* line 16, ../sass/set_user_info.scss */
.set_user_info_slider li a {
  color: #555;
}
/* line 18, ../sass/set_user_info.scss */
.set_user_info_slider li a.active {
  color: #0DBD0D;
}
/* line 22, ../sass/set_user_info.scss */
.set_user_info_slider li .label {
  margin-left: 20px;
  border-radius: 15px;
  font-size: 10px;
  padding: 0 5px;
  background: #9F9F9F;
  color: #fff;
}

/* line 32, ../sass/set_user_info.scss */
.set_user_info_content {
  background: #fff;
  border: 1px solid #ccc;
  width: 758px;
  float: left;
}
/* line 37, ../sass/set_user_info.scss */
.set_user_info_content .user_title {
  height: 50px;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
  font-size: 16px;
  padding-left: 20px;
  color: #555;
}
/* line 46, ../sass/set_user_info.scss */
.set_user_info_content .essential_info h3 {
  border-left: 2px solid #0DBD0D;
  margin: 30px 0;
  padding-left: 20px;
  font-size: 14px;
}
/* line 52, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form {
  text-align: center;
}
/* line 54, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li {
  height: 30px;
  line-height: 30px;
  color: #555555;
  position: relative;
  margin-bottom: 20px;
}
/* line 60, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li:first-child {
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
/* line 65, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li:last-child {
  height: 80px;
  line-height: 20px;
}
/* line 69, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li label {
  width: 100px;
  text-align: right;
  display: block;
  float: left;
}
/* line 75, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box {
  margin-left: 20px;
  float: left;
}
/* line 78, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box .user_picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  line-height: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
/* line 89, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box .user_picture:hover img {
  display: none;
}
/* line 93, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box .user_picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/* line 99, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box input,
.set_user_info_content .essential_info .basic_form li .input_box select {
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px/9;
  padding: 0;
  box-sizing: border-box;
  line-height: 30px;
  width: 130px;
  margin-right: 20px;
}
/* line 110, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box .edit_username {
  position: absolute;
  left: 273px;
  top: 0;
  color: #2d85ca;
}
/* line 116, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box textarea {
  height: 50px;
  padding: 10px;
  width: 500px;
}
/* line 121, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box .textarea_num {
  position: absolute;
  right: 115px;
  color: #BBBBBB;
}
/* line 126, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form li .input_box i {
  color: #BBBBBB;
}
/* line 131, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form .btn {
  background: #fff;
  color: #35B558;
  width: 200px;
  font-size: 14px;
  line-height: 30px;
  font-family: "microsoft yahei";
  display: inline-block;
  margin-bottom: 30px;
}
/* line 134, ../sass/set_user_info.scss */
.set_user_info_content .essential_info .basic_form .btn:hover {
  color: #fff;
  background: #35B558;
}
