/* line 2, ../sass/web_engineer_page.scss */
.web_engineer_banner {
  margin-bottom: 30px;
  background: url("../img/web_engineer_banner.jpg");
  height: 260px;
  width: 100%;
  background-position: center top;
}
/* line 8, ../sass/web_engineer_page.scss */
.web_engineer_banner .banner_content {
  color: #fff;
  width: 1000px;
  margin: 0 auto;
  padding-left: 240px;
  box-sizing: border-box;
}
/* line 14, ../sass/web_engineer_page.scss */
.web_engineer_banner .banner_content h2 {
  font-size: 24px;
  line-height: 24px;
  padding-top: 40px;
}
/* line 19, ../sass/web_engineer_page.scss */
.web_engineer_banner .banner_content p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
}

/* line 27, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav {
  width: 208px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  color: #333;
  float: left;
  position: absolute;
  top: 100px;
}
/* line 36, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li {
  cursor: pointer;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 43, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li:last-child {
  border-bottom: none;
}
/* line 46, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li:hover {
  background: #F5F5F5;
  color: #35B558;
}
/* line 50, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li span {
  color: #BBBBBB;
  font-size: 12px;
  margin-left: 10px;
}
/* line 57, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content {
  margin-left: 240px;
}
/* line 59, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .title {
  height: 20px;
  padding-bottom: 20px;
}
/* line 62, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .title h2 {
  font-size: 18px;
  font-weight: 400;
  float: left;
  margin-right: 20px;
}
/* line 68, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .title span {
  float: left;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  color: #666;
  padding-left: 15px;
  border-left: 1px solid #666;
  margin-top: 4px;
}
/* line 79, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content h3 {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  margin-bottom: 2px;
}
/* line 84, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content h3 span {
  font-size: 12px;
  padding: 1px 3px;
  margin-left: 10px;
  border-radius: 2px;
  background: #F9D279;
  color: #fff;
}
/* line 93, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teachers {
  display: block;
  color: #999999;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 100, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .now_price {
  color: #FF0000;
  line-height: 20px;
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 107, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .old_price {
  color: #bebebe;
  text-decoration: line-through;
}
/* line 112, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
/* line 116, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
}
/* line 119, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li a {
  display: block;
}
/* line 122, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li img {
  width: 210px;
  height: 138px;
  float: left;
}
/* line 127, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des {
  margin-left: 230px;
  padding: 11px 10px 10px 0;
}
/* line 130, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .course_des {
  line-height: 20px;
  color: #666;
  height: 44px;
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 137, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .grow_nums {
  float: right;
  margin-top: 4px;
  font-size: 12px;
  color: #999;
}
/* line 142, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .grow_nums span {
  padding: 0 10px;
}
/* line 144, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .grow_nums span.grow_time {
  border-right: 1px solid #999;
}
/* line 152, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item {
  margin-right: -20px;
}
/* line 154, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li {
  width: 240px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 162, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li img {
  width: 238px;
}
/* line 165, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li .course_list_item_des {
  padding: 10px;
}
/* line 168, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li .teachers {
  margin-bottom: 10px;
}
/* line 171, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li .student_num {
  float: right;
  color: #999;
  font-size: 12px;
  margin-top: 4px;
}
/* line 177, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
}
/* line 182, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teatcher_info {
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 186, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list {
  width: 1600px;
}
/* line 188, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list li {
  height: 120px;
  width: 253px;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #fff;
  float: left;
  border-right: 1px solid #ccc;
}
/* line 196, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list li img {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 205, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list li p {
  line-height: 16px;
  color: #999;
}
/* line 211, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem {
  background: #fff;
  border: 1px solid #ccc;
}
/* line 214, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .problem_content {
  padding: 5px 24px 24px;
  height: 140px;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 219, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .problem_content h3 {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 15px;
  padding-top: 20px;
}
/* line 225, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .problem_content p {
  font-size: 14px;
  line-height: 22px;
  color: #666;
}
/* line 231, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .more_btn {
  border-top: 1px solid #ccc;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
/* line 237, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .more_btn:hover {
  color: #0DBD0D;
}

/* line 244, ../sass/web_engineer_page.scss */
.offline_message {
  position: fixed;
  bottom: 0;
  right: 10px;
  display: block;
  line-height: 45px;
  height: 45px;
  background: #53ca9d;
  width: 140px;
  font-size: 16px;
  color: #fff;
}
/* line 255, ../sass/web_engineer_page.scss */
.offline_message span {
  width: 40px;
  display: inline-block;
  text-align: center;
  font-family: iconfont;
  border-right: 1px solid #BBBBBB;
  margin-right: 15px;
}

/* line 265, ../sass/web_engineer_page.scss */
.message_content_pop {
  width: 354px;
  height: 530px;
  position: fixed;
  right: 40px;
  bottom: 0;
  background: #f2f3f5;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* line 273, ../sass/web_engineer_page.scss */
.message_content_pop h2 {
  line-height: 66px;
  border-bottom: 1px solid #E4E4E4;
  background: #53ca9d;
  font-size: 16px;
  padding-left: 20px;
  color: #fff;
}
/* line 281, ../sass/web_engineer_page.scss */
.message_content_pop p,
.message_content_pop label,
.message_content_pop input,
.message_content_pop textarea {
  padding: 0 20px;
}
/* line 287, ../sass/web_engineer_page.scss */
.message_content_pop p,
.message_content_pop label {
  line-height: 18px;
  margin: 20px 0;
  color: #666666;
  font-size: 14px;
}
/* line 294, ../sass/web_engineer_page.scss */
.message_content_pop label {
  display: block;
  margin: 10px 0;
}
/* line 297, ../sass/web_engineer_page.scss */
.message_content_pop label em {
  color: red;
}
/* line 301, ../sass/web_engineer_page.scss */
.message_content_pop input,
.message_content_pop textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #e4e4e4;
  outline: none;
}
/* line 310, ../sass/web_engineer_page.scss */
.message_content_pop input {
  line-height: 45px;
  font-size: 16px;
}
/* line 314, ../sass/web_engineer_page.scss */
.message_content_pop textarea {
  height: 100px;
  padding-top: 15px;
  margin-bottom: 25px;
}
/* line 319, ../sass/web_engineer_page.scss */
.message_content_pop .message_btns {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
/* line 324, ../sass/web_engineer_page.scss */
.message_content_pop .message_submit_btn {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  background: #53CA9D;
  border: none;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-family: "microsoft yahei";
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}
/* line 339, ../sass/web_engineer_page.scss */
.message_content_pop .pop_close_arrow {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #F2F3F5;
  cursor: pointer;
}
