/* line 2, ../sass/web_engineer_page.scss */
.web_engineer_banner {
  margin-bottom: 30px;
  background: url("../img/web_engineer_banner.jpg");
  height: 260px;
  width: 100%;
  background-position: center top;
}
/* line 8, ../sass/web_engineer_page.scss */
.web_engineer_banner .banner_content {
  color: #fff;
  width: 1000px;
  margin: 0 auto;
  padding-left: 240px;
  box-sizing: border-box;
}
/* line 14, ../sass/web_engineer_page.scss */
.web_engineer_banner .banner_content h2 {
  font-size: 24px;
  line-height: 24px;
  padding-top: 40px;
}
/* line 19, ../sass/web_engineer_page.scss */
.web_engineer_banner .banner_content p {
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
}

/* line 27, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav {
  width: 208px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  color: #333;
  float: left;
}
/* line 34, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li {
  cursor: pointer;
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
/* line 41, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li:last-child {
  border-bottom: none;
}
/* line 44, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li:hover {
  background: #F5F5F5;
  color: #35B558;
}
/* line 48, ../sass/web_engineer_page.scss */
.web_engineer_page_body .left_nav li span {
  color: #BBBBBB;
  font-size: 12px;
  margin-left: 10px;
}
/* line 55, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content {
  margin-left: 240px;
}
/* line 57, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .title {
  height: 20px;
  padding-bottom: 20px;
}
/* line 60, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .title h2 {
  font-size: 18px;
  font-weight: 400;
  float: left;
  margin-right: 20px;
}
/* line 66, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .title span {
  float: left;
  font-size: 12px;
  line-height: 14px;
  height: 14px;
  color: #666;
  padding-left: 15px;
  border-left: 1px solid #666;
  margin-top: 4px;
}
/* line 77, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content h3 {
  font-size: 16px;
  line-height: 22px;
  color: #333;
  margin-bottom: 2px;
}
/* line 82, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content h3 span {
  font-size: 12px;
  padding: 1px 3px;
  margin-left: 10px;
  border-radius: 2px;
  background: #F9D279;
  color: #fff;
}
/* line 91, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teachers {
  display: block;
  color: #999999;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 5px;
}
/* line 98, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .now_price {
  color: #FF0000;
  line-height: 20px;
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
}
/* line 105, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .old_price {
  color: #bebebe;
  text-decoration: line-through;
}
/* line 110, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li {
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
/* line 114, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
}
/* line 117, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li a {
  display: block;
}
/* line 120, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li img {
  width: 210px;
  height: 138px;
  float: left;
}
/* line 125, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des {
  margin-left: 230px;
  padding: 11px 10px 10px 0;
}
/* line 128, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .course_des {
  line-height: 20px;
  color: #666;
  height: 44px;
  margin-bottom: 5px;
  overflow: hidden;
}
/* line 135, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .grow_nums {
  float: right;
  margin-top: 4px;
  font-size: 12px;
  color: #999;
}
/* line 140, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .grow_nums span {
  padding: 0 10px;
}
/* line 142, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .grow_plan_course li .grow_plan_course_des .grow_nums span.grow_time {
  border-right: 1px solid #999;
}
/* line 150, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item {
  margin-right: -20px;
}
/* line 152, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li {
  width: 240px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 160, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li img {
  width: 238px;
}
/* line 163, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li .course_list_item_des {
  padding: 10px;
}
/* line 166, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li .teachers {
  margin-bottom: 10px;
}
/* line 169, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li .student_num {
  float: right;
  color: #999;
  font-size: 12px;
  margin-top: 4px;
}
/* line 175, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .course_list_item li:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 5px rgba(0, 0, 0, 0.1);
}
/* line 180, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teatcher_info {
  overflow: hidden;
  margin-bottom: 40px;
}
/* line 184, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list {
  width: 1600px;
}
/* line 186, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list li {
  height: 120px;
  width: 253px;
  box-sizing: border-box;
  padding: 30px 20px;
  background: #fff;
  float: left;
  border-right: 1px solid #ccc;
}
/* line 194, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list li img {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 203, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .teacher_info_list li p {
  line-height: 16px;
  color: #999;
}
/* line 209, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem {
  background: #fff;
  border: 1px solid #ccc;
}
/* line 212, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .problem_content {
  padding: 5px 24px 24px;
  height: 140px;
  box-sizing: border-box;
  overflow: hidden;
}
/* line 218, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .problem_content h3 {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  padding-top: 20px;
}
/* line 224, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .problem_content p {
  line-height: 22px;
  color: #666;
  font-size: 12px;
}
/* line 230, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .more_btn {
  border-top: 1px solid #ccc;
  line-height: 50px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
/* line 236, ../sass/web_engineer_page.scss */
.web_engineer_page_body .right_content .noraml_problem .more_btn:hover {
  color: #0DBD0D;
}
